body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

body {
    background-color: #0e0e10;
    color: rgb(239, 239, 241);
}

header {
    padding: .75rem;
}

main {
    margin: 0 .75rem;
}

header {
    background-color: #9146ff;
}

header .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    color: #fff;
}

header span {
    color: #fff;
}

#clips {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .75rem;
    row-gap: .5rem;
    padding-left: 0;
}

#clips > li, #clips > li > img {
    width: 100%;
}

#clips > li {
    list-style: none;
}

#clips p {
    text-align: center;
}

#clips a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

#clips img {
    background-color: #fff;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar > input {
    margin-left: 0.5rem;
}

.submit-btn {
    margin-left: 0.5rem;
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.3rem;
    border-radius: 4px;
}
