body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Segoe UI, 'Segoe UI', Arial, Helvetica Neue, Helvetica, sans-serif;
}

body {
    background-color: #0e0e10;
    color: rgb(239, 239, 241);
}

header.global-header {
    padding: .75rem;
    background-color: #9146ff;
}

header.global-header .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.global-header h1 {
    margin: 0;
    color: #fff;
}

header.global-header span {
    color: #fff;
}

.settings-icon {
    width: 1rem;
    height: 1rem;
}

main {
    margin: 0 .75rem;
    min-height: 30rem;
}

#logo {
    height: 48px;
    width: auto;
}

#clips {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    column-gap: .75rem;
    row-gap: .5rem;
    padding-left: 0;
}

#clips > li, #clips > li .clip-thumb {
    width: 100%;
}

#clips > li {
    list-style: none;
}

#clips a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

#clips .clip-thumb {
    background-color: #fff;
}

.clip p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.clip-description {
    margin: 2px 0;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar > input {
    margin-left: 0.5rem;
}

.submit-btn {
    margin-left: 0.5rem;
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.3rem;
    border-radius: 4px;
}

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#empty-logged-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 30rem;
}

#empty-logged-out > img {
    width: 15vw;
    min-width: 15rem;
}

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #9146ff;
    box-sizing: border-box;
}

.modal-close {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.modal-header .modal-close:before { content: "\2715"; }

.modal-content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
}

.modal-action-btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
}

.modal-action-btn-primary {
    background-color: #9146ff;
    color: #fff;
}

@keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes mmslideIn {
from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.modal[aria-hidden="false"] .modal-overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal[aria-hidden="false"] .modal-container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.modal[aria-hidden="true"] .modal-overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal[aria-hidden="true"] .modal-container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.modal .modal-container, .modal .modal-overlay {
    will-change: transform;
}

.setting-row {
    display: flex;
    justify-content: space-between;
}

.setting-row .setting-label {
    font-weight: bold;
}
